<%- include("./partials/header") %>
<%- include("./partials/navbar") %>
<!-- <div class="upper-cont h-full w-full  px-[38vmax] py-[2vmax]">
    <div class="register-cont h-[35vmax] bg-slate-400 w-[25vmax] flex items-center justify-center rounded-[1.4vmax] ">

        <form action="/sign-user" class="px-8 py-10" method="post">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your Name" name="name" >
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Username</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your userName" name="username">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your email" name="email">
            </div>
            <div class="mb-3">
                <label for="inputPassword5" class="form-label">Password</label>
                <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Enter your password" name="password">
            </div>
            <div class="mb-3">
                <p><a href="/login" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Already registered</a></p>
            </div>
            <div>
                <button class="btn btn-secondary btn-lg">Register</button>
            </div>
        </form>
    
    </div>
</div> -->



<div class="font-[sans-serif] text-[#333]">
    <div class="min-h-screen flex fle-col items-center justify-center p-6">
      <div class="grid md:grid-cols-2 items-center gap-6 max-w-7xl w-full">
        <form action="/register-user" method="post" class="md:max-w-md w-full">
          <h3 class="text-3xl font-extrabold mb-10">Registration</h3>
          <div class="space-y-6">
            <div>
              <!-- <label class="text-sm mb-2 block">Name</label> -->
              <input name="name" type="text" class="bg-gray-100 w-full text-sm px-3 py-3 focus:bg-transparent outline-blue-500 transition-all" placeholder="Enter name" />
            </div>
            <input name="username" type="text" class="bg-gray-100 w-full text-sm px-3 py-3 focus:bg-transparent outline-blue-500 transition-all" placeholder="Enter username" />
            <div>
              <!-- <label class="text-sm mb-2 block">Email</label> -->
              <input name="email" type="text" class="bg-gray-100 w-full text-sm px-3 py-3 focus:bg-transparent outline-blue-500 transition-all" placeholder="Enter email" />
            </div>
            <div>
              <!-- <label class="text-sm mb-2 block">Password</label> -->
              <input name="password" type="password" class="bg-gray-100 w-full text-sm px-3 py-3 focus:bg-transparent outline-blue-500 transition-all" placeholder="Enter password" />
            </div>
            <div class="flex items-center">
              <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 shrink-0 border-gray-300 rounded" />
              <label for="remember-me" class="ml-3 block text-sm">
                I accept the <a href="javascript:void(0);" class="text-blue-500 font-semibold hover:underline ml-1">Terms and Conditions</a>
              </label>
            </div>
          </div>
          <div class="mt-10">
            <button  class="py-3 px-6 text-sm font-semibold text-white bg-blue-500 hover:bg-blue-600 focus:outline-none">
              Create an account
            </button>
          </div>
          <p class="text-sm mt-6">Already have an account? <a href="/login" class="text-blue-500 font-semibold hover:underline ml-1">Login here</a></p>
        </form>
        <div class="h-full max-md:mt-10">
          <img src="https://readymadeui.com/login-image.webp" class="w-full h-full object-cover" alt="Dining Experience" />
        </div>
      </div>
    </div>
  </div>

<%- include("./partials/footer") %>